:root{
    --primary-color:#a21caf
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
    
 font-family : 'Montserrat', sans-serif;
    text-align: center;
    background-image: url(/image//birthdate1.svg);
    background-repeat:no-repeat;
    background-position-x: center; 
    color: rgb(147, 98, 98);

    
}

label{
    display: block;
    margin-top:1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color: var(--primary-color);
    padding: 0.8rem 1rem;
    margin-top: 1rem;
    border-radius: 1rem 1rem;
    color: white;
}

input {
    
    padding: 0.5rem;
    margin: 0rem 0.7rem;
    border-radius: 0.5rem;
  }

  #show-msg{
    font-size:  x-large;
    font-weight: bold;
    margin-top: 0.6rem;
  }
